@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://dennissnellenberg.com/assets/fonts/NeueMontreal-Regular.otf');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Dennis Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
}
