@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(120deg, #E5E5E5 50%, #D9D9D9 50%);
  background-repeat: no-repeat;
  font-family: var(--font-outfit), sans-serif;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
}
